{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reaction</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reaction.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ reaction.contenu }}</td>
            </tr>
            <tr>
                <th>Avis</th>
                <td>{{ reaction.avis }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if reaction.date %}{{ reaction.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nbrsignal</th>
                <td>{{ reaction.nbrSignal }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reaction_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reaction_edit', { 'id': reaction.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
